.board-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
    background: rgba(255,255, 255, 0.5);
    padding: 5px;
    border-radius: 8px;
    border-left: 2px solid rgba(255,255, 255, 0.8);
    border-bottom: 2px solid rgba(255,255, 255, 0.8);
    backdrop-filter: blur(5px);
}
.header,.reset{
    color: white;
    font-size: large;
    font-weight: bold;
}
.reset{
    background: brown;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}